/*Google Font*/
body {
    font-family: 'Montserrat',sans-serif;
    margin: 1px;
    padding: 2px;
    box-sizing: border-box;
    background-color: #e7fabc;
    color: #333;
}

/*Navbar*/
.navbar {
    background-size: cover;
    background-position: center;
    background-color: #2c9bf5;
    color: #fff;
    padding: 1em 2em;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
navbar .logo {
    font-size: 1.2em;
    font-weight: 600;
}
.nav-links {
    list-style: circle;
    font-size: 1.2em;
    display: flex;
    gap: 3em;
}
.logo span {
    color: gold;
    font-family: cursive;
}
.nav-links a {
    text-decoration: none;
    color: #fff;
    transition:color 0.3s;
}
.nav-links a:hover {
    color: #fde804;
}
/*Hero Section*/
.hero {
    background-image: url('https://images.pexels.com/photos/1242348/pexels-photo-1242348.jpeg');
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}
.hero h2 {
    font-size: 2.5em;
    font-family: cursive;
}
.hero h2 span {
    color: #e76f51;
}
.hero p {
    font-size: 1.2em;
    margin: 1em 0;
}
.btn {
    background-color: #e76f51;
    color: #f4f4f9;
    padding: 10px 20px;
    border: none;
    border-radius: 30px;
    text-decoration: none;
    font-size: 2em;
    transition: backgroumd-color 0.3s;
}
.btn:hover {
    background-color: #f4a261;
    font-family: cursive;
}
/*About Section*/
.about {
    padding: 50px 0;
    text-align: center;
    font-size: x-large;
    background-image: url('https://img.freepik.com/free-vector/circles-background-dark-tones_60389-166.jpg?t=st=1759138294~exp=1759141894~hmac=d68419ce32052a9c63996ab88b2519510e19e61e6f1098e03ea3bca551ce4c9b&w=2000');
}
.about h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #fde804;
}
.about p {
    max-width: 800px;
    margin: 50px 350px;
    font-size: large;
    color: #f0f7e1;
}
/*Project Section*/
.projects {
    background-image: url('https://images.pexels.com/photos/14662055/pexels-photo-14662055.jpeg');
    background-size: cover;
    padding: 50px 100px;
    color: white;
}
.projects .project-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2em;
}
.card {
    background-image: url('https://images.pexels.com/photos/7134985/pexels-photo-7134985.jpeg');
    background-size: cover;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(230, 12, 12, 0.1);
    width: 300px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    transition: transform 0.3s;
}
.card:hover {
    transform: scale(1.2);
    color: black;
}
.card h3 {
    color: #052f71;
    font-style: italic;
}
/*Contact Section*/
.contact {
    background-image: url('https://images.pexels.com/photos/17366259/pexels-photo-17366259.jpeg');
    background-position: center;
    background-size:cover;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    font-size: 1.2em;
    font-family: cursive;
}
footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding:  10px 0;
}
footer p {
    margin: 0;
}